# DSI2 Project 4 - Job Salary Data Cleaning

In [1]:
import pandas as pd
import numpy as np
import pickle

# Load pickled search results and create csv file

In [2]:
# Load pickle data.

pickle_in = open("jobs.pickle","rb")
jobs = pickle.load(pickle_in)
print jobs.shape
jobs.head(20)

(10441, 4)

,title,company,salary,summary
0,Data Scientist,Accenture,NA,As well as be exposed to the challenges of usi...
1,Technical Customer Support Engineer,Solace Corporation,NA,Solace technology enables open data movement b...
2,"Management Associate, Europe/Latin America",MyFinB Holdings Pte Ltd,NA,Job Summary Want to have the prospect of worki...
3,Data Analyst Intern,Clipperdata Asia Pacific Pte. Ltd.,NA,We are currently looking for interns to assist...
4,URGENT! 3 months Temp Data entry (mon-fri),Intropls Pte Ltd,$8 an hour,Temporary Data entry needed!!!*. Consolidation...
5,Data Entry Clerk (Entry Level) Start Urgently,Careeredge Ltd.,NA,We are looking for a bright and motivated data...
6,"Machine Learning / Deep Learning Developer , S...",SAP,NA,Comfortably handle multi-terabyte data sets in...
7,Part-Time Admin Assistant,Ubi,NA,Looking for an experienced permanent part-time...
8,Data Entry Clerk,Timezone Singapore,NA,Able to start work immediately Data entry Be a...
9,"Director (Lead), Learning & Development",KPMG Services Limited,NA,Ability to develop surveys and analyze data to...
10,HR Operations Consultant,Siemens AG,NA,Monitors the effectiveness (accuracy and compl...
11,Admin Assistant,EC Family Clinic,NA,"Administrative duties, data entry and document..."
12,Night Operations Coordinator,i.Log,NA,Night Operations Coordinator Foreigners and Si...
13,SG-Consultant-Strategy,Deloitte,NA,Managing data collection and analysis; A base ...
14,"Chief Digital Officer, Corporate Solutions APAC",JLL,NA,You will be at the forefront of designing an i...
15,Data Center Lead,Total IT Consult,"$4,000 - $4,500 a month",Point of contact for Data Centre Issue escalat...
16,Data/Statistics Analysis Intern,StarHub,NA,Involve in Data Analytics. Analytical mind to ...
17,Data Analysis [Intern or Full Time],Flocations,NA,Ability to dream of data visualisation. Visual...
18,Project Engineer – Data Center / M&E / Constru...,MCI Career Services Pte Ltd,"$2,500 - $4,000 a month",M&E Data Center project:. Established M&E engi...
19,Part Time Data Entry - $7 per hour,The Supreme HR Advisory Pte Ltd,NA,Mark Wong Business Development Manager Reg No:...

In [3]:
for col in ['title', 'company', 'salary', 'summary']:
    jobs[col] = jobs[col].str.encode('utf-8').astype(str)

In [4]:
# create csv file

jobs.to_csv('./indeed-results.csv', index=False, encoding='utf-8')

In [5]:
# load csv file

jobs = pd.read_csv('./indeed-results.csv')

# Clean 'salary' column

In [6]:
# Filter out jobs with salary.

salary = jobs[jobs['salary'].notnull()]
salary.head()

,title,company,salary,summary
4,URGENT! 3 months Temp Data entry (mon-fri),Intropls Pte Ltd,$8 an hour,Temporary Data entry needed!!!*. Consolidation...
15,Data Center Lead,Total IT Consult,"$4,000 - $4,500 a month",Point of contact for Data Centre Issue escalat...
18,Project Engineer – Data Center / M&E / Constru...,MCI Career Services Pte Ltd,"$2,500 - $4,000 a month",M&E Data Center project:. Established M&E engi...
26,Admin - Data Entry,Dynamic Safety Pte Ltd,"$1,800 - $2,000 a month",Reporting problems with the data. Organizing f...
54,Panel Assistant - Market Research (Freelance 4...,GfK Asia Pte Ltd,$8 - $10 an hour,Management of panel members and data collectio...

In [7]:
# Filter out full time jobs with monthly salary.

salary['salary'].value_counts()

$3,000 - $4,200 a month     182
$2,000 - $2,200 a month      93
$3,500 - $5,000 a month      92
$7,000 - $10,000 a month     92
$4,000 - $5,000 a month      89
$2,800 - $3,400 a month      89
$1,800 - $2,300 a month       6
$7 - $8 an hour               5
$2,200 - $3,000 a month       3
$2,000 - $2,500 a month       3
$2,500 - $4,000 a month       3
$1,800 - $2,000 a month       3
$4,500 - $5,500 a month       3
$1,500 - $1,700 a month       3
$2,500 - $3,500 a month       3
$8 - $10 an hour              2
$3,000 - $5,000 a month       2
$1,800 - $2,600 a month       1
$2,400 - $3,000 a month       1
$2,500 - $4,200 a month       1
$1,500 a month                1
$4,700 - $5,000 a month       1
$3,700 - $5,000 a month       1
$2,500 - $2,800 a month       1
$2,000 - $3,000 a month       1
$36,000 - $72,000 a year      1
$2,800 - $3,500 a month       1
$1,300 - $1,700 a month       1
$1,650 a month                1
$1,400 - $2,000 a month       1
$1,700 a month                1
$1,200 - $1,800 a month       1
$1,200 - $1,500 a month       1
$2,500 - $3,000 a month       1
$2,500 a month                1
$1,800 - $2,800 a month       1
$2,300 - $2,800 a month       1
$1,300 - $1,301 a month       1
$4,000 - $4,500 a month       1
$2,300 - $3,000 a month       1
$1,400 - $1,700 a month       1
$1,700 - $1,900 a month       1
$7 an hour                    1
$1,500 - $2,000 a month       1
$1,000 - $1,500 a month       1
$1,600 - $2,000 a month       1
$2,200 a month                1
$1,700 - $2,000 a month       1
$1,800 a month                1
$1,500 - $2,200 a month       1
$1,200 - $1,900 a month       1
$8 an hour                    1
$900 - $1,100 a month         1
$2,000 - $2,600 a month       1
$1,850 - $2,050 a month       1
Name: salary, dtype: int64

In [8]:
# Drop rows with hourly salary.

print salary.shape
print salary[salary['salary'].str.contains('an hour')].shape
salary = salary.drop(salary[salary['salary'].str.contains('an hour')].index)
print salary.shape

(711, 4)
(9, 4)
(702, 4)

In [9]:
# Remove symbols and text.

salary['salary'] = salary['salary'].str.replace('a month', '').str.replace(',', '').str.replace('$', '')
salary['salary'].value_counts()

3000 - 4200             182
2000 - 2200              93
7000 - 10000             92
3500 - 5000              92
4000 - 5000              89
2800 - 3400              89
1800 - 2300               6
4500 - 5500               3
2500 - 4000               3
1800 - 2000               3
2500 - 3500               3
2200 - 3000               3
2000 - 2500               3
1500 - 1700               3
3000 - 5000               2
1500 - 2200               1
36000 - 72000 a year      1
1800 - 2600               1
4700 - 5000               1
1800                      1
1600 - 2000               1
2500 - 4200               1
1300 - 1700               1
1200 - 1900               1
1400 - 1700               1
1700 - 2000               1
2300 - 2800               1
2000 - 2600               1
1700                      1
2400 - 3000               1
1500                      1
1000 - 1500               1
1650                      1
1200 - 1800               1
2500                      1
2800 - 3500               1
2500 - 3000               1
1700 - 1900               1
1300 - 1301               1
2500 - 2800               1
2000 - 3000               1
1850 - 2050               1
2200                      1
2300 - 3000               1
1400 - 2000               1
1200 - 1500               1
1500 - 2000               1
4000 - 4500               1
900 - 1100                1
3700 - 5000               1
1800 - 2800               1
Name: salary, dtype: int64

In [10]:
# Change yearly salary to monthly salary.

salary['salary'] = salary['salary'].str.replace('36000 - 72000 a year', '3000 - 6000')

In [11]:
# remove empty spaces and convert salary range to average monthly salary.

salary['salary'] = salary['salary'].str.replace(' ', '')
salary['salary'] = salary['salary'].map(lambda x: x.split('-'))
salary['salary'] = salary['salary'].map(lambda x: (float(x[0]) + float(x[1]))/2 if len(x) > 1
                                       else float(x[0]))

In [12]:
salary['salary'].value_counts()

3600.0    182
4250.0     93
2100.0     93
8500.0     92
4500.0     90
3100.0     89
2050.0      6
5000.0      3
3250.0      3
1800.0      3
1500.0      3
1900.0      3
3000.0      3
2600.0      3
2250.0      3
1600.0      3
1850.0      2
2300.0      2
4000.0      2
1550.0      2
2500.0      2
2650.0      2
2200.0      2
1700.0      2
2550.0      1
4850.0      1
1350.0      1
1000.0      1
3150.0      1
1250.0      1
1750.0      1
2700.0      1
1650.0      1
1300.5      1
4350.0      1
1950.0      1
3350.0      1
2750.0      1
Name: salary, dtype: int64

In [13]:
pickle_out = open("salary.pickle","wb")
pickle.dump(salary, pickle_out)
pickle_out.close()