# DSI2 Project 4 - Job Salary Web Scraping

In [1]:
import requests
from bs4 import BeautifulSoup

import pandas as pd
import numpy as np

In [2]:
# Scrap indeed.com search results based on the search keyword 'data', and append into an empty list.

results = []

for search in range(50, 10000, 50):
    r = requests.get("https://www.indeed.com.sg/jobs?q=data&l=Singapore&limit=50&radius=10&start=" + str(search))
    soup = BeautifulSoup(r.text, 'html.parser')
    for result in soup.find_all('div', attrs={'class': ['row result', ' row result']}):
        results.append(result)

print len(results)

10441

In [13]:
# Function to pull out the job title.

def get_title(result):
    try:
        return result.find('a', {'data-tn-element': 'jobTitle'}).text
    except:
        return 'NA'

In [14]:
# Function to pull out the company name.

def get_company(result):
    try:
        return result.find('span', {'class': 'company'}).text.strip()
    except:
        return 'NA'

In [15]:
# Function to pull out the salary.

def get_salary(result):
    try:
        return result.find('span', {'class': 'no-wrap'}).text.strip()
    except:
        return 'NA'

In [16]:
# Function to pull out the job description summary.

def get_summary(result):
    try:
        return result.find('span', {'class': 'summary'}).text.strip()
    except:
        return 'NA'

In [17]:
# Itialize an empty dataframe.

jobs = pd.DataFrame(columns=['title', 'company', 'salary', 'summary'])

In [18]:
# Use functions to pull out the relevant data and put into the dataframe.

for entry in results:
    title = get_title(entry)
    company = get_company(entry)
    salary = get_salary(entry)
    summary = get_summary(entry)
    jobs.loc[len(jobs)] = [title, company, salary, summary]

In [19]:
print jobs.shape
jobs.head(20)

(10441, 4)

,title,company,salary,summary
0,Data Scientist,Accenture,NA,As well as be exposed to the challenges of usi...
1,Technical Customer Support Engineer,Solace Corporation,NA,Solace technology enables open data movement b...
2,"Management Associate, Europe/Latin America",MyFinB Holdings Pte Ltd,NA,Job Summary Want to have the prospect of worki...
3,Data Analyst Intern,Clipperdata Asia Pacific Pte. Ltd.,NA,We are currently looking for interns to assist...
4,URGENT! 3 months Temp Data entry (mon-fri),Intropls Pte Ltd,$8 an hour,Temporary Data entry needed!!!*. Consolidation...
5,Data Entry Clerk (Entry Level) Start Urgently,Careeredge Ltd.,NA,We are looking for a bright and motivated data...
6,"Machine Learning / Deep Learning Developer , S...",SAP,NA,Comfortably handle multi-terabyte data sets in...
7,Part-Time Admin Assistant,Ubi,NA,Looking for an experienced permanent part-time...
8,Data Entry Clerk,Timezone Singapore,NA,Able to start work immediately Data entry Be a...
9,"Director (Lead), Learning & Development",KPMG Services Limited,NA,Ability to develop surveys and analyze data to...
10,HR Operations Consultant,Siemens AG,NA,Monitors the effectiveness (accuracy and compl...
11,Admin Assistant,EC Family Clinic,NA,"Administrative duties, data entry and document..."
12,Night Operations Coordinator,i.Log,NA,Night Operations Coordinator Foreigners and Si...
13,SG-Consultant-Strategy,Deloitte,NA,Managing data collection and analysis; A base ...
14,"Chief Digital Officer, Corporate Solutions APAC",JLL,NA,You will be at the forefront of designing an i...
15,Data Center Lead,Total IT Consult,"$4,000 - $4,500 a month",Point of contact for Data Centre Issue escalat...
16,Data/Statistics Analysis Intern,StarHub,NA,Involve in Data Analytics. Analytical mind to ...
17,Data Analysis [Intern or Full Time],Flocations,NA,Ability to dream of data visualisation. Visual...
18,Project Engineer â€“ Data Center / M&E / Constru...,MCI Career Services Pte Ltd,"$2,500 - $4,000 a month",M&E Data Center project:. Established M&E engi...
19,Part Time Data Entry - $7 per hour,The Supreme HR Advisory Pte Ltd,NA,Mark Wong Business Development Manager Reg No:...

In [20]:
import pickle

pickle_out = open("jobs.pickle","wb")
pickle.dump(jobs, pickle_out)
pickle_out.close()